/* WELCOME SCREEN */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Define Theme Variables */
:root {
  --primary-color: #ff0000; /* Red */
  --text-color: white; /* Default text color */
  --background-color: black; /* Default background */
  --secondary-color: #ccc; /* For lighter elements like subtitles */
}

/* Light Theme */
.light-theme {
  --text-color: black; /* Black text */
  --background-color: white; /* White background */
  --secondary-color: #444; /* Darker subtitle text */
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: red;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

.welcome-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/gym-floor.jpeg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
  color: #fff; /* White text */
}

/* HIDE WELCOME SCREEN BY DEFAULT */
.hidden {
  display: none;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.8); /* Transparent black */
  padding: 40px 20px;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.welcome-content img {
  width: 250px;
}

.welcome-content h1 {
  font-family: "Changa One", serif;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text-color);
}

.welcome-content p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-color);
}

.username-placeholder {
  color: var(--text-color);
  font-size: 18px;
  padding: 5px 10px;
}

.announcement img {
  width: 300px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.enter-btn {
  background: #ff4500; /* Bright motivational orange */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.enter-btn:hover {
  background: #cc3300; /* Darker motivational orange */
}

/* HERO SECTION */
.hero {
  margin-top: 70px;
}

.main-banner {
  display: flex;
  width: 100%;
  height: 760px;
  background-size: cover;

  overflow: hidden;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #e9272c;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: white;
  background-color: #e9272c;
}

.hero-image img {
  position: relative;
  top: -10%;
  width: 100%;
  filter: brightness(70%);
}

.banner-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  margin-left: 60px;
  position: absolute;
}

.banner-title h1 {
  font-family: "Changa One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: white;
}

.banner-subtitle h2 {
  font-size: 16px;
  color: white;
}

.banner-btn button {
  font-weight: 500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  background: #ff0000;
  transition: ease-in 0.1s;
}

.banner-btn button:hover {
  background: black;
  cursor: pointer;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 20px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #e9272c;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.welcome-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 40px;
  color: white;
}

.welcome-section h1 {
  text-align: center;
  font-size: 2.5rem;
}

.welcome-section h2 {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

.qualities {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  gap: 20px;
  padding: 20px;
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.qualities-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 305px;
  min-height: 380px;
  background-color: grey;
  padding: 20px;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}

.qualities-card:hover {
  background-color: #e9272c;
  transform: scale(1.05);
}

.qualities-card img {
  width: 50px;
}

.qualities-card h1 {
  font-size: 28px;
  color: white;
}

.qualities-card p {
  font-size: 16px;
  color: white;
}

@media (max-width: 768px) {
  .qualities {
    flex-wrap: wrap;
  }

  .qualities-card {
    flex: 1 1 calc(50% - 1rem); /* Cards now take up 50% width in two rows */
  }

  .hero-image img {
    position: relative;
    width: 150%;
    top: 0%;
    left: 0%;
    transform: none;
    object-fit: cover;
  }
}

/*VIDEO ADVERTISMENT*/

.video-ad {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.video-ad iframe {
  padding: 20px;
  overflow: hidden;
  border-radius: 20px;
  border: none;
}

/* TESTIMONIAL SECTION */

.testimonial-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 40px;
  width: 100%;
}

.testimonial-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.testimonial-about h1 {
  font-family: "Changa One", serif;
  text-align: left;
  font-size: 48px;
  font-weight: 400;
  color: white;
}

.testimonial-about p {
  font-size: 16px;
  color: white;
  line-height: 20px;
  color: #ffffff;
}

.testimonial-slideshow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  min-height: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.3s;
}

.testimonial-card:hover {
  background-color: #e9272c;
  color: white;
  transform: scale(1.05);
}

/* FITNESS SECTION */

.fitness {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
}

.fitness-intro {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  gap: 10px;
  width: 100%;
}

.fitness-intro h1 {
  font-family: "Changa One", serif;
  font-size: 48px;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
}

.fitness-intro p {
  font-size: 24px;
  color: var(--text-color);
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

/* TRAINERS */
.class-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  width: 100%;
  margin-bottom: 40px;
}

.class-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 300px;

  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.3s;
}

.class-card:hover {
  transform: scale(1.05);
}

.class-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

/* COACHES */
.coaches {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.coaches-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.coaches-images .small {
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.coaches-images .large {
  border-radius: 10px;
  object-fit: cover;
}

.coaches-info {
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 20px;
}

.coaches-info h1 {
  font-family: "Changa One", serif;
  font-size: 48px;
  font-weight: 400;
  color: var(--text-color);
}

.coaches-info h2 {
  font-size: 20px;
  color: var(--text-color);
}

.coaches-info p {
  font-size: 24px;
  color: var(--text-color);
  line-height: 20px;
}

.coaches-info button {
  font-weight: 500;
  color: white;
  padding: 10px 20px;
  border: none;
  width: 160px;
  border-radius: 2px;
  background: #ff0000;
  transition: ease-in 0.1s;
}

.membership {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  width: 100%;
}

.membership h1 {
  font-family: "Changa One", serif;
  font-size: 48px;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 20px;
}

.membership p {
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.plans {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100%;
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 400px;
  border-radius: 10px;
  background: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.3s;
}

.plan:hover {
  transform: scale(1.02);
}

.plan-monthly {
  background: #00620a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.plan-yearly {
  background: linear-gradient(304.02deg, #ff9900 20.15%, #990000 90.46%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: pulse 2s infinite;
}

.plans-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background: #f5f5f5;
}

.plans-details img {
  width: 24px;
  padding-right: 10px;
}

.plan p {
  font-size: 20px;
  color: white;
}

.plans-details p {
  font-family: "Changa One", serif;
  font-size: 30px;
  color: #000000;
}

.plans-details h1 {
  color: black;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}

.plans-details ul li {
  list-style-type: none;
  padding: 5px;
  justify-content: left;
  text-align: left;
}

.subscription {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  margin: 40px 0;
  width: 100%;
  color: var(--text-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.newsletter h1 {
  font-size: 48px;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 20px;
}

.newsletter p {
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.newsletter input[type="email"] {
  width: 250px;
  padding: 10px 20px;
  border: 1px solid #000000;
  border-radius: 2px;

  background: #ffffff;
  color: #000000;
}

button.subscribe {
  padding: 10px;
  border: none;
  width: 100px;
  font-size: 14px;
  color: #ffffff;
  background: #ff0000;
  border-radius: 5px;
  cursor: pointer;
}

button.subscribe:hover {
  background: #ff3333;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  text-align: center;
}

.center img {
  width: 16px;
  margin-right: 10px;
}

.bottom-links {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
}

.bottom-links ul,
.bottom-links ul li {
  list-style-type: none;
  padding: 5px 0;
  color: #000000;
  text-decoration: none;
}

/* FOOTER */

.footer {
  background-color: #fff;
  color: #000000;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* SUBSCRIPTION POP UP */

/* Popup Overlay */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show the popup */
.popup.show {
  visibility: visible;
  opacity: 1;
}

/* Popup Content */
.popup-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.popup-content img {
  width: 80px;
  margin-bottom: 20px;
}

.popup-content p {
  font-size: 16px;
  margin: 10px 0;
  color: #333;
}

.popup-content button {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.popup-content button:hover {
  background: #218838;
}

.hidden {
  display: none;
}

/* BLOG PAGE
Blog Section */

.blog-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-top: 100px;
  width: auto;
  color: white;
}

.blog-page h1 {
  font-family: "Changa One", serif;
  font-size: 48px;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
}

.blog-page h3 {
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
}

.blog-section {
  color: white;
  display: flex;
  gap: 20px;
  margin-top: 40px;
  padding: 20px;
  width: auto;
}

.blog-content {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 20px;
  width: auto;
}

.blog-content img {
  width: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.blog-content h2 {
  font-size: 48px;
  color: var(--text-color);
}

.blog-content p {
  font-size: 32px;
  color: var(--text-color);
}

.content-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  width: auto;
}

.content-info h1 {
  font-family: "Changa One", serif;
  font-size: 36px;
  color: white;
}

.content-info p {
  font-size: 24px;
  color: var(--text-color);
}

.blog-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px;
  min-height: 750px;
  background-color: grey;
  padding: 20px;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}

.blog-card .blog-content {
  display: flex;
  flex-direction: column;
}

.blog-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.blog-card h2 {
  font-family: "Changa One", serif;
  font-size: 30px;
  font-weight: 100;
  color: white;
}

.blog-card p {
  font-size: 20px;
  color: white;
  line-height: 20px;
}

.row {
  display: flex;
  gap: 10px;
}

.full-blog {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
  width: auto;
  color: var(--text-color);
}

.full-blog h1 {
  font-family: "Changa One", serif;
  font-size: 48px;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 20px;
}

.main-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 10px;
}

.main-image img {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.upload-details {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  align-items: center;
  gap: 10px;
}

.link-button {
  background: #ff0000;
  color: #ffffff;
  border: none;
  display: inline-block; /* Ensures button adjusts to content size */
  width: auto; /* Prevents full width */
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none; /* Removes underline for anchor tags */
  align-self: flex-start; /* Prevents stretching in flex containers */
}

.link-button:hover {
  background: #f00000;
  transition: background-color 0.1s ease-in;
}

.category {
  border: yellow 2px solid;
  border-radius: 10px;
  padding: 5px 5px;
  width: max-content;
  color: yellowgreen;
  font-size: 10px;
}

/* fullblog templates */

.blog-article p {
  font-size: 20px;
  color: white;
  line-height: 24px;
  margin-bottom: 30px;
}

.blog-article h2 {
  font-family: "Changa One", serif;
  font-size: 36px;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
}

.blog-article h3 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

/* TRAINERS PAGE */

.trainers {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-top: 100px;
  width: 100%;
}

.trainers h1 {
  font-family: "Changa One", serif;
  font-size: 48px;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 20px;
}

.trainers h3 {
  font-size: 24px;
  color: var(--text-color);
}
.the-trainers {
  display: flex;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  text-align: center;
  width: 100%;
}

.trainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}

.trainer img {
  width: 100%;
  height: auto;
  filter: grayscale(80%);
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in 0.3s;
}

.trainer img:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
}

/* TABLE */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 100px 0;
  color: white;
}

th,
td {
  border: 1px solid #ff0000; /* Red border */
  padding: 30px;
  text-align: center;
}

th {
  background-color: #ff0000; /* Red header background */
  color: #ffffff; /* White text */
}

td {
  background-color: #1e1e1e; /* Dark cell background */
}

td:hover {
  background-color: #ff0000; /* Red hover effect */
  color: #ffffff; /* Ensure white text on hover */
  cursor: pointer;
}

td.empty,
th[style] {
  background-color: #333333; /* Shaded for Sunday or empty cells */
}

caption {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ff0000; /* Red title text */
}

/* POP UP */
.login-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;
}

.login-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  gap: 30px;
  z-index: 1000;
  display: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background: white;
  color: grey;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login-popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.popup h2 {
  margin-top: 0;
}

.popup label {
  display: block;
  margin: 10px 0 5px;
}

.popup input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid red;
  border-radius: 5px;
  background: #333;
  color: white;
}

.popup button {
  background: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background: darkred;
}

.about-container {
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 20px;
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: red;
  text-transform: uppercase;
}

.about-header {
  text-align: center;
  margin-bottom: 30px;
}

.about-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background: url("images/rogue-gym-group-class.jpg") no-repeat center
    center/cover;
  color: var(--text-color);
}

.mission,
.difference,
.history {
  margin-bottom: 40px;
  line-height: 1.6;
}

.cta {
  text-align: center;
  margin: 50px 0;
}

.cta a {
  padding: 10px 20px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta a:hover {
  background-color: darkred;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.stat {
  text-align: center;
}

.stat h3 {
  font-size: 2rem;
}
